
@import 'fonts.scss';
@import url('https://fonts.googleapis.com/css?family=Raleway');
$GB:'GilroyBold', sans-serif;
$GM:'GilroyMedium', sans-serif;
$HN:'HelveticaNeueHeavy', sans-serif;
$HB:'HelveticaNeueBlack', sans-serif;

.slick-prev::before{
	content: none;
	z-index: 1;
}
.slick-next::before{
	content: none;
	z-index: 1;
}
.slick-arrow{
	z-index: 1;
	img{
		width: 80%;
	}
}
body {
	overflow-x:hidden;
	font-family: 'Raleway', sans-serif;
}
.flex-container {
	font-size:18px;
	height: 100vh;
    width: 100%;
    background-color: #121212;
	display: -webkit-flex; /* Safari */
	display: flex;
	overflow: hidden;
	flex-direction: row-reverse;
}
.flex-title {
	color: #f1f1f1;
	position: absolute;
	font-family: $GB;
	letter-spacing: 3px;
	line-height: 60px;
	font-size: 60px;
	width: 85vw;
	text-align: center;
	bottom: 140px;

	.header{
		opacity: 0;
		-webkit-transition: all 700ms ease;
	-moz-transition: all 700ms ease;
	-ms-transition: all 700ms ease;
	-o-transition: all 700ms ease;
	transition: all 700ms ease;
	}
	@media (max-width:1399px) {
			font-size: 50px;
			bottom: 130px;
	}
}
.flex-about {
	color: #f1f1f1;
	position: absolute;
	width: 85vw;
	font-family: $GB;
	font-size: 14px;
	transform: translateY(100%);
	bottom:130px;
	opacity: 0;
	line-height: 23px;
	p{
		margin: 0 12%;
	}
	.wider{
		margin: 0 10%;
	}
	text-align: center;
	-webkit-transition: all 700ms ease;
	-moz-transition: all 70ms ease;
	-ms-transition: all 70ms ease;
	-o-transition: all 70ms ease;
	transition: all 70ms ease;
}


.flex-slide {
    height: 100vh;
    position: relative;
	width: 2.5%;
	cursor: unset;
	box-sizing: border-box;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
    transition: all 500ms ease;
	overflow:hidden;
	border-right: 2px solid rgba($color: grey, $alpha: 1);

	@media (max-width:870px){
		.flex-title{
			font-size: 22px;
		}
		.flex-about{
			font-size: 11px;
		}
	}

	.fa-circle{
		position: absolute;
		right: 10px;
		top: 50%;
		transition: 0.5s;
		transform: translateY(-50%);
		color: transparent;
		font-size: 11px;
	}
}

.story1 {
	position: absolute;
	left: 0;
	video{
		width: 85vw;
		height: 100%;
		z-index: -1;
		object-fit: cover;
	}
}


.story2 {
	background: url('../img/story2.jpg');
	background-size: cover;
	background-position: center center;
    background-attachment: fixed;	
}


.story3 {
	background: url('../img/story3-banner3.jpg');
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	
	@media (max-width:770px){
		.flex-title{
			font-size: 18px;
			bottom: 200px;
		}
		.flex-about{
			font-size: 11px;
		}
	}
}
.story4 {
	background: url('../img/story4.png');
	background-size: cover;
	background-position: center center;
    background-attachment: fixed;	
}
.story5 {
	background: url('../img/story5.jpg');
	background-size: cover;
	background-position: center center;
    background-attachment: fixed;	
}
.story6 {
	background: url('../img/story6.jpg');
	background-size: cover;
	background-position: center center;
    background-attachment: fixed;	
}
.story7 {
	background: url('../img/story7.png');
    background-size: cover;
	background-position: center center;
    background-attachment: fixed;	
}
.black-transparency{
	opacity: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #121212;
	transition: 1s;
}
.active{
		width: 85%;
		.container{
			opacity: 1;
		}

		.black-transparency{
			opacity: 0.3;
		}
		.flex-about{
			opacity: 1;
		}
		.flex-title .header{
			opacity: 1;
		}
		.fa-circle{
			color: white;
		}
}
//story2
.two-pixel{
	display: none;
	height: 3px;
}
.container-story{
    display: flex;
    justify-content: space-between;
	padding: 0px 130px;
	position: absolute;
	width: calc(100% - 260px);
	top: 0px;
	height: 0;
	z-index: 9999;
	font-size: 18px;
	font-family: $GB;
	color:black;
	background-color: transparent;
	transition: background-color 0.2s;

    .logo{
		height: 60px;
		overflow:hidden;
		transition: height 0.2s;
		margin-top: 30px;
		width: auto;
        h1{
			cursor: default;
			width: 350px;
			transition: width 0.2s;
			padding-bottom: 5px;
			font-size: 20px;
			line-height: 25px;
			a{
				opacity: 0.5;
				transition: 0.7s;
				color:black;
                &:hover{
                    opacity: 1;
				}
				.fa-circle{
					font-size: 0px;
					margin-left: 0px;
					transition: 0.2s;
					position: static;
					transform: translateY(-20%);
				}
				&:hover{
					.fa-circle{
						font-size: 10px;
						margin-left: 5px;
					}
				}
			}
			.active-a{
				opacity: 1;
				cursor: pointer;
				.fa-circle{
					font-size: 10px;
					margin-left: 5px;
				}
			}
		}
		.title{
			width: auto;
			opacity: 0.5;
			margin-bottom: 20px;
			line-height: 25px;
			transition: 0.5s;
			@media (max-width:830px){
			}
			a{
				opacity: 1 !important;
			}
			&:hover{
				opacity: 1;
			}
		}
		&:hover{
			height: 320px;
		}
		@media (max-width:910px) {
			height: 40px;

		}
	}

    .main-navigation{
        display: flex;
		justify-content: space-between;
		transition: 0.5s;
		height: 5px;
		margin-top: 40px;
        li{
			transition: 0.7s;
			font-size: 16px;
			width: 176px;
			cursor: default;
			text-align: right;
            a{
				opacity: 0.5;
				color: black;
				transition: 0.7s;
				cursor: pointer;
                &:hover{
                    opacity: 1;
                }
			}
		}
		.lang-switch{
			margin-left: 50px;
			opacity: 0.5;
			height: 16px;
			transition: 0.3s;
			overflow-y: hidden;
			&::-webkit-scrollbar {
				width: 0 !important;
			  }
			&:hover{
				height: 70px;
				opacity: 1;

			}
			li{
				margin-bottom: 10px;
				width: 43px;
				text-align:left;
			}
		}
		&:hover{
			opacity: 1;
		}
		@media (max-width:910px){
			ul{
				li{
					i{
						font-size: 8px;
					}
				}
			}
		}
	}
	@media (max-width:610px){
		font-size: 11px;
	}
}
main{
	padding: 0 130px;

	.story-header{
		margin-top: 300px;
		.story-title{
			margin: 25px 0;
	
			h1{
				font-size: 60px;
				font-family: $GB;
				line-height: 65px;
				margin-bottom: 20px;
				letter-spacing: 2px;
			}
			p{
				font-size:15px;
				width: 60%;
				line-height: 26px;
				color: #171717;;
				font-family: $GB;
			}
		}
		.circle{
			img{
				width: 16px;
				height: auto;
			}
		}
	}
	section{
		a,p,h1{
			color: #919191;
		}
	}
	.first-story{
		margin: 100px 0;
		display: flex;
		justify-content: space-between;

		article{
			width: 49%;
			position: relative;

			.story-text{
				width: 100%;
				height: 200px;
				color: #6D6D6D;
				font-size: 12px;
				font-family: $GB;
				line-height: 22px;
				@media (min-width:1760px) {
					font-size: 16px;
				}
				@media (min-width:1880px) {
					line-height: 26px;
				}
			}
			.right-photo{

				img{
					width: 100%;
				}
			}
		}
		.vertical{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			position: relative;

			button{
				margin: 0 8%;
				font-size: 0;
				z-index: 1;
				background-color: none;
			}
			.slider1{
				.slick-list{
					.slick-track{
						.slick-slide{
							height: 10%;
							object-fit: cover;
							outline: none;
							img{
								width: 100%;
								height: 350px;
								object-fit: cover;
								@media (max-width:1500px) {
									height: 250px;
								}
							}
						}
					}
				}
			}
		}
	}
	.second-story{
		display: flex;
			flex-direction: column;
			justify-content: space-between;
		.little {
			margin-bottom: 20px;
			.second-section-title{
				width: 100%;
				color: #6D6D6D;
				font-size: 12px;
				font-family: $GB;
				line-height: 22px;
				@media (min-width:1760px) {
					font-size: 16px;
				}
				@media (min-width:1880px) {
					line-height: 26px;
				}
			}
		}
		.big{
			position: relative;
			.cover{
				width: 100%;
			}
			.slider-with-info{
				position: absolute;
				display: flex;
				flex-direction: column;
				top: 50%;
				transform: translateY(-50%);
				right: 3%;
				width: 29%;

				.second-slider{
					
					.slick-list{
						.slick-track{
							.slick-slide{
								height: 10%;
								object-fit: cover;
								outline: none;
								img{
									width: 100%;
									height: 450px;
									object-fit: cover;
									background-position: center;
								}
								p{
									color: white;
								}
							}
						}
					}
					.slick-dots{
						margin-bottom: 120px;
					}
				}
				.slider2-info{
					margin-top: 5px;	
					color: white;
					line-height: 14px;
					font-family: $GM;
					font-size: 14px;
					z-index: 1;
					margin-top: 10px;
					@media (max-width:1840px) {
						font-size: 13px;
					}
					@media (max-width:1605px) {
						font-size: 12px;
						line-height: 28px;
					}
					@media (max-width:1485px) {
						font-size: 11px;
						line-height: 20px;
					}
					@media (max-width:1330px) {
						line-height: 16px;
					}
					@media (max-width:1050px) {
						line-height: 12px;
					}
				}
			}
			button{
				margin: 0 35px;
				font-size: 0;
				z-index: 1;
				background-color: none;
			}
		}
	}
	.second-section-info{
		margin-top: 10px;
		color: #6D6D6D;
		font-size: 14px;
		font-family: $GM;
		@media (max-width:1840px) {
			font-size: 13px;
		}
		@media (max-width:1605px) {
			font-size: 12px;
			line-height: 28px;
		}
		@media (max-width:1485px) {
			font-size: 11px;
			line-height: 20px;
		}
		@media (max-width:1330px) {
			line-height: 16px;
		}
		@media (max-width:1050px) {
			line-height: 12px;
		}
		
	}
	.third-story{
		display: flex;
		justify-content: space-between;
		margin-top: 50px;
		.left-slider3{
			width: 38%;
			p{
				font-size: 18px;
				color: #6D6D6D;
				font-size: 12px;
				font-family: $GB;
				line-height: 22px;
				@media (min-width:1760px) {
					font-size: 16px;
				}
				@media (min-width:1880px) {
					line-height: 26px;
				}
			}
		}
		.right-slider3{
			width: 60%;

			.third-slider{
				.slick-list{
					.slick-track{
						.slick-slide{
							height: 10%;
							object-fit: cover;
							outline: none;
							img{
								width: 100%;
								height: 500px;
								object-fit: cover;
							}
						}
					}
				}
			}
			.slider3-info{
				margin-top: 10px;
				font-size: 14px;
				font-family: $GM;
				color: #919191;
				line-height: 14px;
				width: 80%;
				@media (max-width:1840px) {
					font-size: 13px;
				}
				@media (max-width:1605px) {
					font-size: 12px;
					line-height: 28px;
				}
				@media (max-width:1485px) {
					font-size: 11px;
					line-height: 20px;
				}
				@media (max-width:1330px) {
					font-size: 12px;
					line-height: 16px;
				}
				@media (max-width:1125px) {
					font-size: 10px;
				}
				@media (max-width:1050px) {
					font-size: 11px;
					line-height: 12px;
				}
			}
		}
		button{
			margin: 0 7%;
			font-size: 0;
			z-index: 1;
			background-color: none;
		}
	}
	.fourth-story{
		margin-top: 50px;

		.img{
			width: 100%;
			img{
				width: 100%;
			}
		}
		article {
			margin-top: 10px;
			p{
				width: 60%;
				font-size: 14px;
				color: #919191;
				font-family: $GM;
				line-height: 14px;
				@media (max-width:1840px) {
					font-size: 13px;
				}
				@media (max-width:1605px) {
					font-size: 12px;
					line-height: 28px;
				}
				@media (max-width:1485px) {
					font-size: 11px;
					line-height: 20px;
				}
				@media (max-width:1330px) {
					line-height: 16px;
				}
				@media (max-width:1050px) {
					line-height: 12px;
				}
				
			}
		}
	}
	.fifth-story{
		margin-top: 50px;
		margin-bottom: 250px;
		display: flex;
		justify-content: space-between;

		.text{
			width: 38%;
			color: #6D6D6D;
			font-size: 12px;
				font-family: $GB;
				line-height: 22px;
				@media (min-width:1760px) {
					font-size: 16px;
				}
				@media (min-width:1880px) {
					line-height: 26px;
				}
		}
		.img{
			width: 60%;
			
			img{
				width: 100%;
			}
			p{
				margin-top: 10px;
				margin-bottom: 50px;
				font-size: 14px;
				font-family: $GM;
				color: #919191;
				line-height: 14px;
				@media (max-width:1840px) {
					font-size: 13px;
				}
				@media (max-width:1605px) {
					font-size: 12px;
					line-height: 28px;
				}
				@media (max-width:1485px) {
					font-size: 11px;
					line-height: 20px;
				}
				@media (max-width:1330px) {
					line-height: 16px;
				}
				@media (max-width:1050px) {
					line-height: 12px;
				}
				
			}
		}
	}
}
footer{
	background-color: #171717;
	padding: 0px 130px;
	.page-switcher{
		color: white;
		display: flex;
		justify-content: space-between;
		font-family: $GB;
		font-size: 40px;
		
		article{
			padding: 70px 0;
			a{
				color:white;
				transition: 0.5s;
				letter-spacing: 2px;
				display: flex;
				align-items: center;
				img{
					height: 35px;
					width: auto;
				}
				.for-padding{
					padding: 0 50px;
				}
			}
		}
		.right{
			a{
				img{
					transform: rotateY(180deg);
				}
			}
		}
	}
	.logos{
		padding-bottom: 16px;
		img{
			width: auto;
			height: 40px;
			margin-right: 30px;
			padding: 25px 0;
		}
	}
	.footer-hr{
		border-color: grey;
	}
}
.slick-dots{
	margin-bottom: 70px;
}
.slick-dots li button::before{
	color: transparent;
	border: 2px solid black;
	border-radius: 50%;
	padding: 0;
	font-size: 8px;
	line-height: 10px;
	width: 8px;
    height: 8px;
}
.slick-dots li.slick-active button:before{
	color: white;
}
.slider-info{
	margin-top: 5px;
	font-size: 14px;
	line-height: 24px;
	font-family: $GM;
	@media (max-width:1840px) {
		font-size: 13px;
	}
	@media (max-width:1605px) {
		font-size: 12px;
		line-height: 22px;
	}
	@media (max-width:1460px) {
		font-size: 11px;
		line-height: 20px;
	}
	@media (max-width:1300px) {
		font-size: 11px;
		line-height: 15px;
	}
	@media (max-width:1125px) {
		font-size: 11px;
	}
	@media (max-width:1050px) {
		font-size: 11px;
		line-height: 10px;
	}
}
.right-photo .slider-info{
	font-size: 14px;
	line-height: 24px;
	font-family: $GM;
	@media (max-width:1840px) {
		font-size: 13px;
	}
	@media (max-width:1605px) {
		font-size: 12px;
		line-height: 22px;
	}
	@media (max-width:1460px) {
		font-size: 11px;
		line-height: 20px;
	}
	@media (max-width:1300px) {
		font-size: 11px;
		line-height: 15px;
	}
	@media (max-width:1125px) {
		font-size: 11px;
	}
	@media (max-width:1050px) {
		font-size: 11px;
		line-height: 10px;
	}
}

// story3 page

.story3-header{
	position: relative;
	
	.header-title{
		margin-left: 130px;
		margin-top: -40px;
		margin-bottom: 60px;
		h1{
			font-size:60px;
			font-family: $GB;
			color: #171717;
			line-height: 60px;
			letter-spacing: 3px;
			width: 85%;
		}
		p{
			margin-top: 40px;
			width: 50%;
			font-size: 16px;
			line-height: 23px;
			font-family: $GB;
			color: #171717;
		}
	}
	.cover-top{
		width: 100%;
		height: 400px;
		background-image: url('../img/story3-header1.jpg');
		background-size: cover;
		background-position: center center;
		z-index: -1;
	}
	.fifth-up{
		background-image: url('../img/story5-header1.jpg');
	}
	.sixth-up{
		background-image: url('../img/story6-header1.jpg');
	}
	.cover-bottom{
		width: 100%;
		height: 400px;
		margin-top: 35px;
		background-image: url('../img/story3-header2.jpg');
		background-size: cover;
		z-index: -1;
		background-position: center center;
	}
	.fifth-bottom{
		background-image: url('../img/story5-header2.jpg');
	}
	.sixth-bottom{
		background-image: url('../img/story6-header2.jpg');
	}
	
}
.white{
	color: white;
	.main-navigation{
		li{
			color: white;
			a{
				color: white;
			}
		}
	}
	.logo{
		h1{
			a{
				color: white;
			}
		}
		.title{
			
		}
	}
}
.portrait1{
	margin-top: 70px;
	padding: 0 200px;
	margin-bottom: 70px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	img{
		width: calc(50% - 20px);
		height: auto;
	}
	.portrait-text{
		width: calc(50% - 20px);
		.line-width{
			height: 5px;
			background-color: black;
			margin-bottom: 25px;
			width: 40%;
		}
		h1{
			font-size: 24px;
			color: #171717;	
			font-family: $GB;
			line-height: 35px;
		}
		p{
			margin-top: 25px;
			font-family: $GB;
			font-size: 14px;
			width: 90%;
			color: #6D6D6D;
			line-height: 22px;
			br{
				margin-bottom: 50px;
			}
			b{
				color: black;
			}
		}article{
			.article-image{
				img{
				width: 100%;
				}
				p{
					margin-top: 10px;
					font-size: 12px;
					font-family: $GM;
				}
			}
		}
	}
	.article-image{
		width: 50%;
		img{
		width: 100%;
		}
		p{
			margin-top: 10px;
			font-size: 12px;
			line-height: 16px;
			font-family: $GM;
		}
	}
}
.start{
	align-items: flex-start;
}
.banner{
	width: 100%;

	img{
		width: 100%;
	}
}
.none{
	padding: 0;

	.page-switcher{
		margin:3% 10%;
		margin-bottom: 5%;
	}
}
.portrait1 .low-margin-top{
	margin-top: 10%;
}
.portrait1 .high-margin-top{
	margin-top: 35%;
}
.fa-chevron-down{
	font-size:13px;
	margin-left: 2px;
}
.fa-circle{
	font-size: 18px;
	vertical-align: middle;
}
.slick-dotted.slick-slider {
    margin-bottom: 0;
}
.slick-dots li button::before{
	opacity: 1;
}
.dark{
	background-color: rgba($color: #000000, $alpha: 0.7);
	height: 150vh;

	.logo{
		color: white;
		.title{
		}
		h1{
			color: white;
			width: auto;
			a{
				color: white;
			}
		}
	}	
	@media (max-width:910px){
		padding: 20px 50px;
	}
	z-index: 12;
}
.dark-about{
	background-color: rgba($color: #000000, $alpha: 0.7);
	height: 150vh;

	.main-navigation{
		li{
			.about-nav{
				color: white;
			}
		}
	}
	@media (max-width:910px){
		padding: 20px 50px;
	}
	z-index: 12;
	

}
.dark-lang{
	background-color: rgba($color: #000000, $alpha: 0.7);
	height: 150vh;


	.main-navigation{
		.lang-switch{
			color: white;
			li{
				color: white;
				a{
					color: white;
				}
			}
		}
	}
	@media (max-width:910px){
		padding: 20px 50px;
	}
	z-index: 12;
}
//story 5
.fourth-story-cover-photo{
	img{
		width: 100%;
		height: 800px;
		object-fit: cover;
	}
}
.fourth-story-cover{
	width: 100%;
	.fourth-story-slider{
		width: 100%;
		overflow: hidden;
		button{
			margin: 0 50px;
		}
		.slick-dots{
			margin-bottom: 100px;
		}
		.slider-photo{
			width: 100%;
			height: 600px;
			object-fit: cover;

		}
		.slick-slide{
			outline: none;
		}
	}
	p{
			margin-top: 10px;
			font-size: 12px;
			line-height: 16px;
			font-family: $GM;
	}
}
.zero{
	padding:0;
	overflow-x: hidden;
	object-fit: cover;
	.story-header{
		margin: 50px 130px;
		margin-bottom: 250px;
		.circle{
			padding-top: 60px;
		}
		.story-content{
			line-height: 26px;
			font-size: 14px;
			margin-top: 50px;
			width: 50%;
			font-family: $GB;
			color: #6D6D6D;
			br{
				margin-bottom: 20px;
			}
		}
	}
}
//story5

.first-video{
	background: url('../img/story1.jpg');
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	
	iframe{
		width: calc(100% - 260px);
		height: 613px;
		margin: 50px 130px;
		margin-top: 150px;
	}
}
.zero .story5-padding{
	.story-title{
		margin-bottom: 250px;
	}
}
.story-fifth{
	padding: 0;
	margin-top: 100px;
	margin-bottom: 40px;
	.portrait-text{
		h1{
			font-size: 14px;

		}
	}
}
.fifth-info{
	font-family: $GM;
	font-size: 12px;
	color: #919191;
	margin-top: 10px;
	line-height: 16px;
}
.shorter{
	width: 60%;
}
.to-rus{
	margin: 300px 0 50px 0;
	font-size: 18px;
}
.russian{
	.portrait-text{
		width: 80%;
		h1{
			font-size: 60px;
			margin-bottom: 100px;
			line-height: 60px;
		}
		p{
			width: 70%;
			margin-bottom: 100px;
			.russian-span{
				color: black;
			}
		}
	}
}
.history{
	margin: 100px 20%;
	text-align: left;
	font-size: 16px;
	color: #6D6D6D;
	font-family: $GB;
	line-height: 26px;
}
.about-main{
	background-color: #171717;
	padding: 10%;
	color: white;

	.about-header{
		text-align: center;
		margin-top: 200px;
		h1{
			font-size: 60px;
			padding-bottom: 60px;
			line-height: 80px;
			font-family: $GB;
			@media (max-width:1200px) {
				font-size: 50px;
				line-height: 60px;
			}
		}
		.fa-circle{
			font-size: 18px;
			margin-bottom: 40px;
		}
		p{
			font-size: 16px;
			line-height: 26px;
			font-family: $GB;
			text-align:left;
			margin-bottom: 100px;
		}
	}
	.credits{
		font-size: 18px;
		font-family: $GB;
		margin-bottom: 160px;
		text-align: center;
		div{
			margin: 50px 0;
			.authors{
				li{
					font-family: $GM;
					color: #6D6D6D;
					padding-top: 10px;
				}
			}
			h3{
				color: #6D6D6D;
				font-family: $GM;
				margin-top: 10px;
			}
		}
	}
}
.top-border{
	border-top: 1px solid gray;
}
footer .right-page-switcher{
	text-align: right;
	display: block;
	padding: 50px 0;
}
footer .flex-end{
	justify-content: flex-end;
}
.container-story .main-navigation li .white-ab {
    opacity: 1;
}
.hn{

	font-family: $HN !important;
	p{
		font-family: $HN !important;
	}
	.russgb{
		font-family: $GB !important;
	}
	a{
		font-family: $HN !important;
	}
	h1{
		font-family: $HN !important;
		a{
			font-family: $HN !important;
		}
	}
	li{
		font-family: $HN !important;
		a{
			font-family: $HN !important;
		}
	}
	ul{
		font-family: $HN !important;
		li{
			font-family: $HN !important;
			a{
				font-family: $HN !important;
			}
		}
	}
	div{
		font-family: $HN !important;
		div{
			font-family: $HN !important;
			h1{
				font-family: $HN !important;
			}
			h2{
				font-family: $HN !important;
			}
			h3{
				font-family: $HN !important;
			}
			p{
				font-family: $HN !important;
			}
		}
	}
	article{
		font-family: $HN !important;
		div{
			font-family: $HN !important;
			h1{
				font-family: $HN !important;
			}
			p{
				font-family: $HN !important;
			}
		}
	}
}
.fullscreen{
	img{
		width: 100vw;
		height: 100vh;
		object-fit: cover;
	}
}
.less-padding{
	padding: 0 80px;
	width: calc(100% - 160px);
}
.gg{
    line-height: 60px !important;
    letter-spacing: 2px !important;
}
.author-down{
	margin-bottom: 40px !important;
}
.author-up{
	margin-top: 40px !important;
}
.index-title{
	width: 100vw !important;
	bottom: 100px;
}
.apearing-text-1{
	display: none;
}
.apearing-text-2{
	display: none;
}
.apearing-text-3{
	display: none;
}
.apearing-text-4{
	display: none;
}
.apearing-ka-1{
	display: none;
}
.apearing-ka-2{
	display: none;
}
.apearing-ka-3{
	display: none;
}
.apearing-ka-4{
	display: none;
}
@media (max-width:1910px){
	.dissapearing-ka-1{
		display: none;
	}
	.apearing-ka-1{
		display: inline;
	}
	
}
@media (max-width:1620px){
	.dissapearing-text-1{
		display: none;
	}
	.dissapearing-ka-2{
		display: none;
	}
	.apearing-text-1{
		display: inline;
	}
	.apearing-ka-2{
		display: inline;
	}
	
}
@media (max-width:1400px){
	.dissapearing-text-2{
		display: none;
	}
	.dissapearing-ka-3{
		display: none;
	}
	.apearing-text-2{
		display: inline;
	}
	.apearing-ka-3{
		display: inline;
	}
	
}
@media (max-width:1320px){
	.dissapearing-text-3{
		display: none;
	}
	.apearing-text-3{
		display: inline;
	}
	
}
@media (max-width:1260px){
	.dissapearing-text-4{
		display: none;
	}
	.dissapearing-ka-4{
		display: none;
	}
	.apearing-text-4{
		display: inline;
	}
	.apearing-ka-4{
		display: inline;
	}
}
.slick-prev{
	transform: translate(0, -35px);
}
.slick-next{
	transform: translate(0, -35px);
}
.ka{
	.slider1{
		.slick-dots{
			margin-bottom: 90px;
		}
	}
	.second-slider{
		.slick-dots{
			margin-bottom: 160px !important;
		}
	}
	.slick-prev{
		top: 45%;
	}
	.slick-next{
		top: 45%;
	}
}